[run]
omit = 
    .venv/*
    */site-packages/*
    */tests/*
    */__pycache__/*
    */data/*
    */models/*
    system_state.json
    */__init__.py
    */config.py
    app/routes/router.py

[report]
fail_under = 50